* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

header {
  place-items: center;
  display: flex;
  background: black;
  width: 100%;
  height: 153px;
  justify-content: space-around;

  nav {
    margin: auto 0;
    font-family: 'Raleway', sans-serif;
    ul {
      display: flex;
      align-items: center;
    }
    li {
      padding-right: 98px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
    }
    a:hover {
      color: #c78c19;
      text-decoration: underline;
    }
  }
}

#Logo-inicial {
  width: 235.01px;
  height: 46px;
}

.descricao-elibrus {
  display: flex;
  .texto-elibrus {
    margin-top: 263px;
    background-color: #efefef;
    height: 772px;
    width: 70vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    .textos-juntos {
      display: flex;
      align-items: center;
      justify-content: center;
      .texto-atras {
        font-weight: 700;
        font-size: 280px;
        position: absolute;
        opacity: 0.03;
      }
      h1 {
        font-size: 120px;
        font-weight: 700;
        padding-bottom: 100px;
      }
    }
    p {
      text-align: justify;
      font-weight: 400;
      font-size: 18px;
      width: 461px;
      padding-bottom: 20px;
    }
  }
  .imagem-pessoas-elibrus {
    margin-top: 222px;
    z-index: 5;
    img {
      left: 54vw;
      position: absolute;
    }
  }
}

.missaoevisao-elibrus {
  position: relative;
  height: 1000px;
  .fundo-missao {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1000px;
  }
  .fundo-palavras-missao {
    right: 0px;
    z-index: 0;
    position: absolute;
    font-size: 280px;
    font-weight: 700;
    opacity: 0.05;
    color: #ffffff;
    letter-spacing: 0.3em;
  }
  .missao-elibrus {
    margin-bottom: 157px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    .imagem-missao {
      img {
        position: absolute;
        left: 400px;
        top: -61px;
        z-index: 5;
      }
    }
    .texto-missao {
      padding-left: 50px;
      margin-top: 141px;
      width: 530px;
      h2 {
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 29px;
      }
      p {
        text-align: justify;
        line-height: 30px;
        font-weight: 400;
      }
      h2,
      p {
        text-align: justify;
        font-size: 12px;
        letter-spacing: 0.3em;
        text-align: justify;
        color: #ffffff;
        z-index: 5;
      }
    }
  }
  .fundo-palavras-visao {
    left: 131px;
    z-index: 0;
    position: absolute;
    font-size: 280px;
    font-weight: 700;
    opacity: 0.05;
    color: #ffffff;
    letter-spacing: 0.3em;
  }
  .visao-elibrus {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    .imagem-missao-visao {
      img {
        position: absolute;
        left: 54vw;
        top: 55px;
        z-index: 5;
      }
    }
    .texto-missao {
      padding-right: 50px;
      margin-top: 141px;
      width: 530px;
      h2 {
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 29px;
      }
      p {
        line-height: 30px;
        font-weight: 400;
      }
      h2,
      p {
        font-size: 12px;
        letter-spacing: 0.3em;
        text-align: justify;
        color: #ffffff;
        z-index: 5;
      }
    }
  }
}

.valores-elibrus {
  margin-top: 197px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 272px;
  .image-valores {
    img {
      position: absolute;
      z-index: -1;
    }
  }
  .texto-valores {
    margin-left: 200px;
    width: 461px;
    .textos-juntos {
      display: flex;
      align-items: center;
      .texto-atras {
        margin-top: 40px;
        left: 200px;
        letter-spacing: 0.2em;
        font-weight: 700;
        font-size: 280px;
        position: absolute;
        opacity: 0.03;
      }
      > h1 {
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0.3em;
        margin-bottom: 40px;
      }
    }
    p {
      text-align: justify;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: #111111;
      z-index: 5;
    }
  }
}

.rodape-pagina {
  position: relative;
  display: flex;
  .imagem-rodape {
    img:first-of-type {
      object-fit: fill;
      width: 1495px;
      height: 502px;
      z-index: 1;
      position: absolute;
      right: 0;
    }
    > img {
      height: 20px;
    }
    .instagram {
      .icone-instagram {
        margin-top: 390px;
        margin-right: 304px;
        width: 18px;
        height: 18px;
      }
    }
    .facebook {
      .icone-facebook {
        margin-top: 390px;
        margin-right: 330px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.historiaDescricao-elibrus {
  .historia-elibrus {
    margin-bottom: 178px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titulo-historia {
      margin-left: 20vw;
      width: 496px;
      h1 {
        font-size: 120px;
        line-height: 120px;
        font-weight: 700;
        color: #111111;
      }
    }
    .descricao-historia {
      margin-right: 23vw;
      width: 461px;
      p {
        font-size: 18px;
        text-align: justify;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
  .anderson-peres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-peres {
      margin-left: 26vw;
    }
    .descricao-andersonperes {
      margin-right: 23vw;
      width: 461px;
      h1,
      p {
        color: #111111;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
      }
      h1 {
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-weight: 400;
      }
    }
  }
}

.alaor-rambo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 376px;
  .descricao-alaor {
    margin-left: 19vw;
    width: 460px;
    h1,
    p {
      color: #111111;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
    }
    h1 {
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      font-weight: 400;
    }
  }
  .img-alaor {
    margin-right: 27vw;
  }
}

.rodape-geral {
  height: 502px;
  padding-left: 120px;
  left: 0px;
  flex-direction: column;
  background: #111111;
  position: absolute;
}

.logos {
  padding-bottom: 50px;
}

#Logo-final {
  width: 255px;
}

#XP {
  width: 70px;
}

.active {
  font-weight: bold;
}

.link-endereco {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  .links {
    z-index: 5;
    text-align: left;
    flex-direction: column;
    font-size: 14px;
    text-transform: uppercase;
    li {
      list-style-type: none;
      padding-bottom: 6px;
      letter-spacing: 5px;
      a {
        text-decoration: none;
        color: #ffffff;
      }
      a:hover {
        color: #c78c19;
        text-decoration: underline;
      }
    }
  }
}

.enderecos {
  z-index: 5;
  p {
    color: white;
    font-size: 14px;
  }
}

.logos {
  padding-top: 100px;
  img + img {
    margin-left: 80px;
  }
}

.titulo-endereco {
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.endereco-frase {
  padding-bottom: 15px;
}

.redes-sociais {
  position: relative;
  padding-top: 40px;
  padding-bottom: 18px;
  .linha {
    background-color: white;
    position: absolute;
    height: 1px;
    width: 80vw;
    z-index: 10;
  }
}

.politicas {
  font-size: 10px;
  color: #ffffff;
  padding-bottom: 28px;
  ul {
    display: flex;
    li {
      z-index: 5;
      list-style-type: none;
      padding-right: 10px;
      a {
        color: #ffffff;
        text-decoration: none;
      }
      a:hover {
        color: #c78c19;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .historiaDescricao-elibrus {
    .historia-elibrus {
      flex-direction: column;
    }
  }
}
